<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="video.js" defer></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 95vh;
            min-width: 98vw;
        }

        #btn-start {
            background-color: #1F93CA;
            padding: 10px 20px;
            font-size: 1.5rem;
            cursor: pointer;
            color: #ffffff;
            border-radius: 10px;
            transition: all 200ms ease;
        }

        #btn-start:hover {
            transform: scale(1.08);
        }
    </style>
</head>

<body>
    <div id="btn-start">
        Start Meeting
    </div>
</body>

</html>